<form action="/createnew" method="POST" class="row g-3">
    <div class="col-6 mt-5 container">
        <div class="mb-3 form-floating">
            <input type="text" name="title" class="form-control">
            <label for="title">Title</label>
        </div>
        <div class="mb-3 form-floating" class="form-control">
            <textarea name="content" style="height: 200px; width: 100%" placeholder="Your post"></textarea>
        </div>
        <div class="col-12 d-grid">
            <button class="btn btn-primary" type="submit">Create post</button>
        </div>
    </div>
</form>