<form method="POST" action="/api/users">
    <div class="d-flex p-2">
        <p class="px-3">Sort by name</p>
        <select class="px-3" name="rikiuotiPagalAbecele">
            <option value="a-z">A-Z</option>
            <option value="z-a">Z-A</option>
        </select>
        <input class="btn btn-primary px-3" type="submit" value="Sort">
    </div>
</form>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each rows}}

        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>